@{
    ViewData["Title"] = "Churchgoers";
}

<div class="container">
    <main role="main">
        <br />
        <br />
        <div class="text-center">
            <img src="/images/Churchgoers.jpg">
        </div>

    </main>
</div>
